<% if @post.is_collected?(current_user) %>
  <li class="nav-link float-right"><%= link_to 'Uncollect', uncollect_post_path(post), method: :post, remote: true, class:"btn btn-outline-success"  %></li>
<% else %>
  <li class="nav-link float-right"><%= link_to 'Collect', collect_post_path(post), method: :post, remote: true, class:"btn btn-outline-success" %></li>
<% end %>