<div class="jumbotron jumbotron-fluid p-3">
  <div class="container">
    <h1 class="display-5">Story Place</h1>
    <p class="lead">Story of Your Life</p>
    <div class="container">
      <div class="row">    
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"> 
          <li><%= link_to 'All',root_path, class: "btn btn-light nav-link" %></li>
        </ul>
        <% @categories.each do |category| %>
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <%= link_to category.name, category_path(category), class: "btn btn-light nav-link #{'active' if category == @category}" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/post_list' %>